@charset "UTF-8";

/*
Paleta de core:
verde: #49a09d
lilas: #5f2c82
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
}

div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/pexels-mel-gomes-13183160.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
}

div#formulario{
    display: block;
    padding: 10px;
}

section#login>div#formulario>h1{
    text-align: center;
    margin-bottom: 10px;
}

section#login>div#formulario>p{
    font-size: .8em;
}
