@charset "UTF-8";

body{
    background-image: url(../imagens/back-print.jpg);/*desnecessario*/
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    box-shadow: none;
}
main{
    border: 2px solid black;
}
img#phone{display: none;}
img#tv{display: none;}
img#print{display:block}
img#tablet{display: none;}
img#pc{display: none;}