@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient( #5E2B80, #4C9099);
}

nav.imagem{
    display: block;
    float: left;
    width: 30%;
    height: 100%;
}

section{
    display: block;
    float: right;
    width: 80%;
    height: 280px;
}

